:root {
    --bg: #eaeaea;
    --loader-bg: rgba(169, 169, 169, 0.7);
    --text: black;
    --subtext: #313131;
    --footer: #cfcfcf;
    --button-bg: #e7e7e7;
    --button-hover: #f1f1f1;
    --button-active: #bdbdbd;
    --sidebar-bg: #d6d6d6;
    --header-color: #434343;
    --border: #2d2d2d;
    --svg-stroke-color: black;
    --scrollbar-bg: #d8d8d8;
    --scrollbar-thumb: #b0b0b0;
    --blur-loader-bbg: linear-gradient(120deg, #00000000 0%, rgb(255 255 255 / 35%) 50%, #00000000 100%);
    --list-bg: #e2e2e2;
    --refresh-btn-bg: #526eb8;
    --refresh-btn-hover-bg: #5a81ff;
    --refresh-btn-active-bg: #495880;
    --refresh-btn-svg: #ffffff;
    --xp-btn: #7bc5f8;
    --xp-btn-hover: #97c4e3;
    --xp-btn-active: #458cbc;
    --list-tool-bg: #cccccc;
    --divider-color: #bdbdbd;
    --reset-btn-bg: #cb5151;
    --chip: #dfdfdf;
}

[data-theme="dark"] {
    --bg: #2c2c2c;
    --loader-bg: rgba(0, 0, 0, 0.7);
    --text: white;
    --subtext: #bfbfbf;
    --footer: #1f1e1e;
    --button-bg: #353535;
    --button-hover: #363636;
    --button-active: #2b2b2b;
    --sidebar-bg: #232323;
    --header-color: #bfbfbf;
    --border: #3f3f3f;
    --svg-stroke-color: white;
    --scrollbar-bg: #232323;
    --scrollbar-thumb: #444;
    --blur-loader-bbg: linear-gradient(120deg, transparent 0%, rgba(255, 255, 255, 0.08) 50%, transparent 100%);
    --list-bg: #373737;
    --refresh-btn-bg: #495880;
    --refresh-btn-hover-bg: #4f6b9c;
    --refresh-btn-active-bg: #3f4f77;
    --refresh-btn-svg: #bebebe;
    --xp-btn: #35678a;
    --xp-btn-hover: #4882a4;
    --xp-btn-active: #1a5473;
    --list-tool-bg: #4f4f4f;
    --divider-color: #8080808f;
    --reset-btn-bg: #8f3535;
    --chip: #424242;
}

[data-theme="light"] {
    --bg: #eaeaea;
    --loader-bg: rgba(169, 169, 169, 0.7);
    --text: black;
    --subtext: #313131;
    --footer: #cfcfcf;
    --button-bg: #e7e7e7;
    --button-hover: #f1f1f1;
    --button-active: #bdbdbd;
    --sidebar-bg: #d6d6d6;
    --header-color: #434343;
    --border: #2d2d2d;
    --svg-stroke-color: black;
    --scrollbar-bg: #d8d8d8;
    --scrollbar-thumb: #b0b0b0;
    --blur-loader-bbg: linear-gradient(120deg, #00000000 0%, rgb(255 255 255 / 35%) 50%, #00000000 100%);
    --list-bg: #e2e2e2;
    --refresh-btn-bg: #526eb8;
    --refresh-btn-hover-bg: #5a81ff;
    --refresh-btn-active-bg: #495880;
    --refresh-btn-svg: #ffffff;
    --xp-btn: #7bc5f8;
    --xp-btn-hover: #97c4e3;
    --xp-btn-active: #458cbc;
    --list-tool-bg: #cccccc;
    --divider-color: #bdbdbd;
    --reset-btn-bg: #cb5151;
    --chip: #dfdfdf;
}

body,
html {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    user-select: none;
    overflow: hidden;
}

button {
    -webkit-tap-highlight-color: transparent;
}

.cookie-banner {
    background-color: var(--footer);
    color: var(--subtext);
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 30px);
    padding: 15px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border);
    transition: all 0.3s ease;
    flex-direction: column;
    border-radius: 30px 30px 0 0;
}

.cookie-banner.hide {
    opacity: 0;
    transform: translateY(100%);
    pointer-events: none;
}

.cookie-banner.hidden {
    display: none;
    visibility: hidden;
}

.cookie-banner p {
    font-size: 1.25rem;
}

.cookie-banner button {
    background-color: var(--button-bg);
    color: var(--text);
    border: none;
    padding: 10px 20px;
    border-radius: 13px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cookie-banner button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}

.cookie-banner button:active {
    background-color: var(--button-active);
    transform: scale(0.95);
}

/* Loading Screen */

#no-internet-screen {
    position: fixed;
    inset: 0;
    background: var(--footer);
    overflow: hidden;
    z-index: 99999;
    transition: all 0.5s ease;
    display: block;
    visibility: visible;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

#ni-info-flex {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: right;
}

#ni-info-flex span:nth-of-type(1) {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--text);
}

#ni-info-flex span:nth-of-type(2) {
    margin-bottom: 20px;
    color: var(--subtext);
}

#ni-info-flex span:nth-of-type(3) {
    margin-bottom: 5px;
    color: var(--subtext);
    font-weight: bold;
}

#ni-info-flex span:nth-of-type(4) {
    margin-bottom: 20px;
    color: var(--subtext);
}

#ni-info-flex span:nth-of-type(5) {
    margin-bottom: 20px;
    color: var(--subtext);
}

#ni-info-flex button {
    background-color: var(--button-bg);
    padding: 4px 15px 4px 15px;
    border-radius: 20px;
    width: 125px;
    height: 50px;
    text-align: center;
    border: none;
    color: var(--subtext);
    font-size: 1.5rem;
    cursor: pointer;
    transform: scale(1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#ni-info-flex button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}

#ni-info-flex button:active {
    background-color: var(--button-active);
    transform: scale(0.95);
}

.ni-icon svg {
    transform: scale(0.7);
}

.ni-icon svg path {
    fill: var(--subtext);
}

#no-internet-screen.hide {
    display: none;
    visibility: hidden;
}

.blur-loader {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(20px);
    background: var(--loader-bg);
    overflow: hidden;
    z-index: 9999;
    transition: all 0.5s ease;
    display: block;
    visibility: visible;
}

.blur-loader.hidden {
    opacity: 0;
    pointer-events: none;
}

.blur-loader.hide {
    display: none;
    visibility: hidden;
}

.blur-loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background: var(--blur-loader-bbg);
    transform: skewX(-20deg);
    animation: shine 2.5s infinite;
}

@keyframes shine {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}

/* Login Screen */

.popup {
    position: absolute;
    top: 20px;
    left: 50%;
    background-color: #ff4d4d;
    color: #fff;
    padding: 16px 24px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    z-index: 1000;
    opacity: 0;
    transform: translate(-50%, -50px) scale(0.85);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup.show {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
}

.popup.hide {
    display: none;
}

#close-popup-button {
    background-color: rgb(225, 0, 0);
    padding: 0px 9px;
    border-radius: 50%;
    margin-left: 10px;
    text-align: center;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--sidebar-bg);
    color: var(--text);
    padding: 16px 24px;
    border-radius: 20px;
    box-shadow: 0 0 22px 6px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    z-index: 2000;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.85);
    transition: opacity 0.2s ease, transform 0.35s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.8rem;
}

.dialog p {
    text-align: center;
    margin-top: 5px;
}

#dialog-sub-message {
    font-size: 0.9rem;
    color: var(--subtext);
    margin-top: -15px;
}

.dialog.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.dialog-flex.hide,
.dialog.hide {
    display: none;
}

.dialog-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--loader-bg);
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 2000;
}

.dialog-flex.show {
    opacity: 1;
}


#dialog-buttons {
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    width: calc(100% - 20px);
    height: 60px;
}

.dialog button {
    background-color: var(--button-bg);
    padding: 4px 15px 4px 15px;
    border-radius: 20px;
    width: 150px;
    height: calc(100% - 10px);
    text-align: center;
    border: none;
    color: var(--subtext);
    font-size: 1.5rem;
    cursor: pointer;
    transform: scale(1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dialog button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}

.dialog button:active {
    background-color: var(--button-active);
    transform: scale(0.95);
}

.dialog input {
    width: calc(100% - 23px);
    padding: 10px;
    border-radius: 12px;
    border: 1.5px solid var(--border);
    background-color: var(--sidebar-bg);
    color: var(--text);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.dialog input:focus {
    outline: none;
    border: 2px solid var(--border);
    box-shadow: 0 0 4px var(--text);
}

.login-screen {
    background-color: var(--bg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: opacity 0.3s ease;
    opacity: 1;
    pointer-events: auto;
}

.login-screen.hidden,
.main-screen.hidden,
.loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.login-screen.hide,
.main-screen.hide,
.loading-screen.hide {
    display: none;
}

.header {
    position: absolute;
    top: 0px;
    left: 250px;
    width: calc(100% - 250px);
    height: 80px;
    text-align: center;
    border-radius: 0px 30px 0px 0px;
    background-color: transparent;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
}

.header h1 {
    margin-left: 35px;
}

.welcome-text {
    position: absolute;
    top: 40%;
    left: 250px;
    width: calc(100% - 250px);
    height: 80px;
    text-align: center;
    border-radius: 0px 30px 0px 0px;
    background-color: transparent;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    flex-direction: column;
}

.welcome-text h1 {
    margin-left: 35px;
    margin-bottom: 20px;
    display: block;
    color: var(--text);
}

.welcome-text h3 {
    margin-left: 35px;
    color: var(--subtext);
    font-size: 0.9rem;
    margin-top: 0;
    display: block;
}

.login-form {
    background-color: var(--sidebar-bg);
    padding: 0px 20px 0px 20px;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 250px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease, transform 0.35s ease;
    transform: translateX(0) scaleX(1);
    opacity: 1;
    position: fixed;
    left: 0;
}

.login-form.hidden {
    opacity: 0;
    transform: translateX(-250px) scaleX(2);
    pointer-events: none;
}

.login-form h1 {
    color: var(--text);
    font-size: 1.75rem;
    margin-bottom: 20px
}

.login-form button {
    background-color: var(--button-bg);
    color: var(--subtext);
    border: none;
    padding: 0px 20px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.4s ease, border-radius 0.4s ease;
    height: 100%;
    width: 100%;
}

.login-form button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}

.login-form button:active {
    background-color: var(--button-active);
    transform: scale(0.95);
}

.button-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 90%;
    height: 50px;
}

.button-flex-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 70%;
}

.password-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.password-flex button {
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: transparent;
    right: 10%;
    color: var(--subtext);
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.4s ease;
}

.password-flex button:hover {
    background-color: transparent;
    transform: scale(1.1);
}

.password-flex button:active {
    background-color: transparent;
    transform: scale(0.9);
}

.strength-text {
    color: #b42323;
    text-align: left;
    width: 87%;
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 0.8rem;
    font-weight: bold;
    height: 0px;
    opacity: 0;
    transition: opacity 0.3s ease, height 0.3s ease;
}

.strength-text.show {
    opacity: 1;
    height: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    border-radius: 0px 30px 0px 0px;
    background-color: var(--footer);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #7c7c7c;
    font-size: 1rem;
    margin-left: 290px;
}

.username-input,
.password-input {
    width: 80%;
    padding: 10px;
    border-radius: 12px;
    border: 1.5px solid var(--border);
    background-color: var(--sidebar-bg);
    color: var(--text);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.username-input:focus,
.password-input:focus {
    outline: none;
    border: 2px solid var(--border);
    box-shadow: 0 0 4px var(--text);
}

.alt-flex-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 90%;
}

.alt-flex-btn button {
    padding: 10px 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.alt-flex-btn button i {
    font-size: 1.5rem;
    background: radial-gradient(circle at center, #4285f4 0%, transparent 40%), conic-gradient(from 309deg, #ea4335 84deg 87deg, #4285f4 138deg 143deg, #34a853 208deg 253deg, #fbbc05 295deg 311deg, #ea4335 353deg 359deg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
    margin-bottom: 3px;
}

.line-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.line-flex p {
    color: var(--subtext);
    font-size: 1rem;
    margin: 0px 20px;
}

.line {
    width: 100%;
    height: 1.5px;
    background-color: var(--border);
}

/* Main Screen */

.main-screen {
    background-color: var(--bg);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    opacity: 1;
    pointer-events: auto;
}

.welcome {
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
    background: linear-gradient(90deg, #628bee, #a660d8, #da6060, #a660d8, #628bee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 250% 100%;
    animation: gradient-move 8s linear infinite;
}

@keyframes gradient-move {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.sidebar {
    background-color: var(--sidebar-bg);
    padding: 20px;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: calc(100% - 40px);
    width: 225px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 3;
    pointer-events: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(0) scaleX(1);
    opacity: 1;
    position: fixed;
    left: 0;
    will-change: transform, opacity;
}

.sidebar.hidden {
    opacity: 0;
    transform: translateX(-250px) scaleX(2);
    pointer-events: none;
}

#sidebar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    background-color: var(--loader-bg);
    opacity: 1;
    backdrop-filter: blur(15px);
    transition: opacity 0.3s ease;
    z-index: 2;
    will-change: opacity;
}

#sidebar-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.sidebar h1 {
    color: var(--text);
    font-size: 1.75rem;
    margin-bottom: 20px
}

.sidebar button {
    background-color: var(--button-bg);
    color: var(--subtext);
    border: none;
    padding: 20px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.4s ease, border-radius 0.4s ease;
    width: calc(100% - 20px);
}

.sidebar button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}

.sidebar button:active {
    background-color: var(--button-active);
    transform: scale(0.95);
}

.sidebar-button-flex {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

.sidebar-button-flex::-webkit-scrollbar {
    width: 8px;
    background: var(--scrollbar-bg);
}

.sidebar-button-flex::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 8px;
}

.t-sidebar-btn {
    width: 50px;
    height: 50px;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}

.t-sidebar-btn:hover {
    background-color: var(--button-hover);
    transform: scale(1.1);
}

.t-sidebar-btn:active {
    background-color: var(--button-active);
    transform: scale(0.9);
}

.t-sidebar-btn svg {
    stroke: var(--svg-stroke-color);
}

#close-sidebar-btn {
    display: none;
}

#open-sidebar-btn {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
}

.top-flex {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.quote-home {
    color: var(--subtext);
    font-size: 1.2rem;
}

.quote-author {
    text-align: right;
    font-size: medium;
}

.home-name-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.tasks-header {
    width: 100%;
    height: 60px;
    padding: 0 15px 0 15px;
    margin-left: -15px;
    margin-top: -15px;
    color: var(--text);
    background-color: var(--button-active);
    font-size: 1.6rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.tasks-header button {
    background-color: var(--button-bg);
    color: var(--subtext);
    border: none;
    border-radius: 14px;
    margin-right: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.4s ease;
    height: 40px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.tasks-header button i {
    font-weight: bolder;
}

.tasks-header button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}

.tasks-header button:active {
    background-color: var(--button-active);
    transform: scale(0.95);
}

#xp-tex,
#xp {
    position: relative;
    font-size: 4rem;
    background: linear-gradient(to bottom, var(--subtext), var(--subtext));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin: 0;
    transition: background 0.3s ease, text-shadow 0.3s ease;
}

.shimmer {
    background: linear-gradient(120deg,
            #ffd700,
            #e5cc6a,
            #af800a,
            #ffcc00,
            #ffd700);
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.5),
        0 0 20px rgba(255, 208, 0, 0.4),
        0 0 30px rgba(255, 180, 0, 0.3);
}

.xp-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.25s ease, width 0.35s ease, height 0.35s ease;
}

.xp-flexbox {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.xp-controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    background-color: var(--footer);
    border-radius: 0px 30px 0px 0px;
    position: relative;
    padding: 20px 20px 20px 290px;
}

.xp-actions {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1 1 calc(50% - 40px);
    padding: 15px;
    background-color: var(--sidebar-bg);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 0px 30px 1px;
    box-sizing: border-box;
    min-width: 250px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
}

.xp-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.xp-actions h2 {
    margin: 0px;
    font-size: 2rem;
    color: var(--text);
    text-align: center;
    border-bottom: 2px solid #4b4b4b;
}

.xp-button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--xp-btn);
    color: var(--text);
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1);
}

.xp-button:hover {
    transform: scale(1.05);
    background-color: var(--xp-btn-hover);
}

.xp-button:active {
    transform: scale(0.95);
    background-color: var(--xp-btn-active);
}

.xp-display {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 15%;
    top: 40px;
    padding-left: 290px;
}

.xp-display button {
    position: relative;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    border: none;
    background-color: var(--reset-btn-bg);
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.75rem;
    color: var(--refresh-btn-svg);
}

.xp-display button svg {
    width: 80%;
    height: 80%;
    stroke: var(--refresh-btn-svg);
}

.xp-display button:hover {
    background-color: #b74a4a;
    transform: scale(1.05);
}

.xp-display button:active {
    transform: scale(0.95);
    background-color: #762626;
}

/* Leaderboard Section */

.leaderboard-list {
    width: calc(100% - 10px);
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: 250px;
    height: 100%;
    padding: 5px;
    display: flex;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
    border-radius: 25px 38px 38px 25px;
    color: var(--text);
    text-align: center;
    font-size: 3rem;
}

.leaderboard-list::-webkit-scrollbar {
    width: 8px;
    background: var(--scrollbar-bg);
}

.leaderboard-list::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 8px;
}

.leaderboard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--list-bg);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rank {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--subtext);
    background-color: var(--list-tool-bg);
    border-radius: 50pc;
    padding: 2px 8px;
}

.name {
    flex-grow: 1;
    text-align: left;
    margin-left: 15px;
    color: var(--subtext);
    font-weight: bold;
    font-size: 1.25rem;
}

.xp {
    font-weight: bold;
    font-size: 1.25rem;
    color: #56adee;
}

#refresh-leaderboard {
    background-color: var(--refresh-btn-bg);
}

#refresh-leaderboard:hover {
    background-color: var(--refresh-btn-hover-bg);
}

#refresh-leaderboard:active {
    background-color: var(--refresh-btn-active-bg);
}

.settings-list::-webkit-scrollbar {
    width: 8px;
    background: var(--scrollbar-bg);
}

.settings-list::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 8px;
}

.xp-display h1 {
    font-size: 3rem;
}

.settings-list {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    max-height: 1080px;
    padding: 5px;
    display: flex;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
    border-radius: 25px 38px 38px 25px;
}

.settings-list button {
    background-color: var(--button-bg);
    color: var(--subtext);
    border: none;
    padding: 0px 20px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.4s ease;
    height: 40px;
    width: 150px;
}

.settings-list button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}

.settings-list button:active {
    background-color: var(--button-active);
    transform: scale(0.95);
}

.setting-item label {
    color: var(--text);
    font-size: 2rem;
    font-weight: bolder;
}

.setting-item {
    display: flex;
    transition: all 0.3s ease;
}

.setting-item.hidden {
    opacity: 0;
    pointer-events: none;
}

.xp-display h1 {
    font-size: 3.5rem;
    color: var(--subtext);
}

.setting-item input {
    padding: 10px;
    border-radius: 12px;
    border: 1.5px solid var(--border);
    background-color: var(--sidebar-bg);
    color: var(--text);
    font-size: 1rem;
    height: 17px;
    width: 175px;
    transition: all 0.3s ease;
}

.setting-item input:focus {
    outline: none;
    border: 2px solid var(--border);
    box-shadow: 0 0 4px var(--text);
}

.custom-select,
.custom-timer-select {
    position: relative;
    font-size: 1rem;
}

.custom-select select,
.custom-timer-select select {
    display: none;
}

.select-selected {
    background-color: var(--subtext);
    border-radius: 15px;
    transition: opacity 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--text) transparent transparent transparent;
    transition: border-color 0.2s ease, top 0.2s ease;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--text) transparent;
    top: 7px;
    transition: border-color 0.2s ease, top 0.2s ease;
}

.select-items div,
.select-selected {
    background-color: var(--button-bg);
    color: var(--text);
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
    border-radius: 12px;
    transition: opacity 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.select-items {
    position: absolute;
    background-color: var(--button-bg);
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 12px;
    transition: opacity 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
}

.select-hide {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-65px) scaleY(0);
    transition: opacity 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
}

.select-items div:hover,
.same-as-selected {
    background-color: var(--button-hover);
}

.xp-section.hidden {
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}

.xp-section.hide {
    display: none;
}

#stopwatch {
    font-size: 5rem;
    font-weight: bolder;
    color: var(--subtext);
}

.watch-flex button {
    background-color: var(--button-bg);
    color: var(--subtext);
    width: 125px;
    height: 50px;
    font-size: 1.4rem;
    border: none;
    border-radius: 50pc;
    cursor: pointer;
    transform: scale(0);
    opacity: 0;
    transition: background-color 0.3s, transform 0.4s, opacity 0.4s;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#resume {
    width: 150px;
}

#openPiP {
    width: 50px;
}

.watch-flex button i {
    text-align: center;
}

.watch-flex button svg {
    height: 80%;
    width: 80%;
    fill: var(--subtext);
}

.watch-flex button.visible {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.watch-flex button.hidden {
    display: none;
}

.watch-flex button:hover {
    transform: scale(1.1);
    background-color: var(--button-hover);
}

.watch-flex button:active {
    transform: scale(0.9);
    background-color: var(--button-active);
}

.watch-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.watch-btn-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.task-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--list-bg);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}

.task-pos {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--subtext);
    background-color: var(--list-tool-bg);
    border-radius: 50pc;
    padding: 2px 8px;
}

.task-name {
    text-align: left;
    color: var(--subtext);
    font-weight: bold;
    font-size: 1.25rem;
}

.task-duration,
.task-type {
    font-size: 1rem;
    color: var(--subtext);
}

.task-actions-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.task-values-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    flex-grow: 1;
    margin-left: 10px;
}

.v-divider {
    height: 20px;
    width: 1.75px;
    background-color: var(--divider-color);
}

.flex-duration-input {
    height: 37px;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 6px;
}

.tasks-footer {
    width: 100%;
    height: 20%;
    padding: 0 15px 0 15px;
    margin-left: -15px;
    margin-bottom: -15px;
    color: var(--text);
    background-color: var(--button-active);
    font-size: 1.6rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.create-task-button-flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.tasks-footer button {
    background-color: var(--button-bg);
    color: var(--subtext);
    border: none;
    padding: 0px 20px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.4s ease;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.leaderboard-list button {
    background-color: var(--button-bg);
    color: var(--subtext);
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.4s ease;
    height: 25px;
    width: 25px;
}

.tasks-footer button:hover,
.leaderboard-list button:hover {
    background-color: var(--button-hover);
    transform: scale(1.1);
}

.tasks-footer button:active,
.leaderboard-list button:active {
    background-color: var(--button-active);
    transform: scale(0.9);
}

.leaderboard-list label {
    color: var(--text);
    font-size: 2rem;
    font-weight: bolder;
}

.leaderboard-list input {
    padding: 10px;
    border-radius: 12px;
    border: 1.5px solid var(--border);
    background-color: var(--sidebar-bg);
    color: var(--text);
    font-size: 1rem;
    height: 17px;
    width: 175px;
    text-align: left;
    transition: all 0.3s ease;
}

.leaderboard-list input:focus {
    outline: none;
    border: 2px solid var(--border);
    box-shadow: 0 0 4px var(--text);
}

.duration-input {
    width: 40px !important;
    padding: 6px 10px;
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 0.5;
    margin: 0;
}

.your-tasks {
    margin-left: 8px;
    font-size: 1.5rem;
    color: var(--subtext);
}

.create-t-flex {
    height: 100%;
}

#create-task-list {
    height: 80%;
}

.watch-flex {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1 1 calc(50% - 40px);
    padding: 15px;
    background-color: var(--sidebar-bg);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 0px 30px 1px;
    box-sizing: border-box;
    min-width: 250px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 20px 0px;
    overflow: hidden;
    transition: all 0.3s ease;
    gap: 10px;
}

.xp-flexbox.watch {
    flex-direction: column;
}

.xp-controls.watch {
    align-items: flex-start;
}

.watch-container {
    width: 100%;
    height: 100%;
}

#created-tasks {
    background-color: var(--chip);
    color: var(--subtext);
    font-size: 1.2rem;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    font-weight: bolder;
    margin-left: 4px;
}

@media (max-width: 871px) {

    body {
        flex-direction: column;
    }

    #loading-text {
        font-size: 2rem;
    }

    .xp-section {
        width: 100%;
        gap: 0px;
    }

    .settings-section {
        width: 100%;
        gap: 0px;
    }

    .xp-controls {
        border-radius: 30px 30px 0 0;
        padding-left: 20px;
    }

    .xp-display {
        padding-left: 0px;
    }

    #close-sidebar-btn {
        display: flex;
    }

    #open-sidebar-btn {
        display: flex;
    }

    .leaderboard-list {
        border-radius: 25px 25px 25px 25px;
    }

    .ni-icon svg {
        display: none;
    }
}

@media (max-width: 768px) {

    .login-form {
        position: absolute;
        z-index: 5;
        width: 55%;
        border-radius: 20px;
        height: 55%;
        padding: 20px;
        transition: opacity 0.3s ease, transform 0.4s ease;
        transform: scale(1);
        opacity: 1;
        left: unset;
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .login-form.hidden {
        opacity: 0;
        transform: scale(0.5);
        pointer-events: none;
        position: absolute;
    }

    .header,
    .welcome-text,
    .footer {
        left: 0;
        width: 100%;
        border-radius: 0;
        font-size: 1rem;
    }

    .welcome-text {
        top: 30%;
        font-size: 0.9rem;
    }

    .welcome-text h1,
    .welcome-text h3 {
        display: none;
    }

    .login-form h1 {
        font-size: 2rem;
    }

    .login-form button {
        font-size: 0.9rem;
        height: 45px;
    }

    .username-input,
    .password-input {
        font-size: 0.9rem;
    }

    .password-flex button {
        right: 10%;
    }

    .login-screen {
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .header {
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        font-size: 1rem;
        border-radius: 0;
    }

    .header h1 {
        margin-left: 5px;
        font-size: 2.5rem;
    }

    .footer {
        z-index: 10;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        font-size: 0.9rem;
        border-radius: 20px 20px 0 0;
    }

    .footer p {
        margin-left: 0;
        font-size: 0.9rem;
    }

    .xp-controls {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .xp-actions {
        flex: 1 1 100%;
    }

    .xp-grid {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 10px;
    }

    .xp-flexbox {
        gap: 15px;
        padding: 15px;
    }

    #xp-tex,
    #xp {
        font-size: 3rem;
    }

    .xp-display {
        top: 40px !important;
    }

    .xp-display h1 {
        font-size: 3rem;
    }

    .xp-display button {
        width: 50px;
        height: 50px;
    }

    #leaderboard-section,
    #xp-section,
    #settings-section {
        gap: 0px !important;
    }
}

@media (max-width: 700px) {
    .setting-item {
        flex-direction: column;
        gap: 10px !important;
        padding-left: 0px;
    }

    .settings-list {
        max-height: 1000px;
        overflow-y: auto;
        width: 100%;
        padding-right: 8px;
        gap: 40px;
    }

    .settings-section {
        align-items: flex-start;
    }

    .dialog {
        font-size: 1.25rem;
    }

    .popup {
        width: calc(100% - 50px);
    }

    .leaderboard-list label {
        text-align: left;
        font-size: 1.25rem;
    }

    .welcome {
        font-size: 2.5rem;
    }

    .quote-home,
    .quote-author {
        font-size: 1rem;
    }

    #create-task-list {
        height: 85%;
    }

    .tasks-footer {
        height: 15%;
    }

    #create-task-start {
        display: none;
    }

    .tasks-footer button {
        padding: 0;
    }

    #create-task-start {
        width: 120px !important;
    }
}

@media (max-width: 480px) {
    .login-form {
        width: 85%;
        padding: 15px;
        font-size: 0.9rem;
    }

    .login-form h1 {
        font-size: 1.75rem;
    }

    .header,
    .welcome-text,
    .footer {
        font-size: 0.8rem;
    }

    .header h1 {
        margin: 0;
    }

    .login-screen {
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .header {
        height: 50px;
        font-size: 0.9rem;
    }

    .footer {
        height: 50px;
        font-size: 0.8rem;
    }

    .footer p {
        margin-left: 0;
    }

    .xp-section {
        font-size: 1.2rem;
    }

    .popup {
        font-size: 0.8rem;
    }

    .welcome {
        font-size: 2rem;
    }

    .quote-home,
    .quote-author {
        font-size: 0.8rem;
    }

    .your-tasks {
        font-size: 1.25rem;
    }

    .xp-grid {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        gap: 8px;
    }

    .xp-button {
        font-size: 0.8rem;
        padding: 6px;
    }

    #xp-tex,
    #xp {
        font-size: 3rem;
    }

    .xp-display h1 {
        font-size: 2.5rem;
    }

    .home-name-flex {
        width: 80%;
    }

    .xp-flexbox {
        gap: 10px;
        padding: 10px;
    }

    .xp-controls {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
        height: 77%;
    }

    .setting-item label {
        font-size: 1.5rem;
    }

    .task-name {
        font-size: 1rem;
    }

    .task-duration {
        font-size: 0.75rem;
    }

    .task-pos {
        font-size: 1rem;
        padding: 0px 5px;
    }

    .create-t-flex {
        height: 93%;
    }

    .task-list-item {
        padding: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .task-actions-flex {
        gap: 0px;
    }

    .task-footer button {
        font-size: 0.75rem;
        width: 120px;
    }
}

@media (max-width: 320px) {

    .task-duration,
    .task-type {
        font-size: 0.35rem;
    }

    .task-name {
        font-size: 0.85rem;
    }

    .task-pos {
        font-size: 0.85rem;
        padding: 0px 4px;
    }

    .your-tasks {
        font-size: 1rem;
    }

    #created-tasks {
        font-size: 0.8rem;
        padding: 2px 3px;
        margin: 0;
    }

    .task-values-flex {
        gap: 2px;
    }
}